.home {
    .container {
        width: 1500px;
        margin: 0 auto;

        h1 {
            color: #FFD082;
            font-size: 4em;
            font-weight: 300;
        }

        .cartas {
            display: flex;
            justify-content: space-between;
        }

        .boton {
            margin-top: 30px;
            font-size: 25px;
            border-radius: 30px;
            border: 1px solid #FFD082;
            background: none;
            padding: 12px 66px;
            color: #FFD082;
            cursor: pointer;

            &:hover {
                background-color: #FFD082;
                color: #2E3151;
                transition: all ease-in-out 0.2s;
            }
        }
    }
}
